<%- include('partials/header') %>

    <div class="container container-main">
        <div class="row">

            <% for (const project of projects) { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top" src="images/ex-okanban.JPG"
                                alt="Projet numéro 1">
                            <div class="badge-category badge badge-pill badge-projet1">
                                <%=project.label %>
                            </div>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">
                                    <%=project.title %>
                                </a>
                            </h4>
                            <h5>
                                <%=project.resum %>
                            </h5>
                            <p class="card-text">
                                <%=project.description %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link-add-bookmarks">Visualiser le projet</a>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </div>

    <%- include('partials/footer') %>